.App {
  text-align: center;
  box-sizing: border-box;
}

.search {
  font-family: 'PT Mono', monospace;
  font-size: 13px;
  width: 70%;
  border-radius: 15px;
  border: 3px #000 solid;
  padding: 5px;
  height: 34px;
  margin-top: 5%;
  margin-bottom: 10px;

}

.view {
  width: 80%;
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

#text {
  line-height: -10%;
}